DJANGO_SECRET_KEY=superwowamazing
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
OIDC_PROVIDER_ID=oidc
OIDC_DISPLAY_NAME=Sign in with SSO
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_SERVER_URL=
